
@{
    ViewBag.Title = "TestAPI";
}

<h2>TestAPI</h2>

<input type="button" value="Get One" id="getone" />
<input type="button" value="Get All" id="getall" />
<input type="button" value="Do Post" id="post" />
<input type="button" value="Do Put" id="put" />
<input type="button" value="Do Delete" id="delete" />

@section scripts{
<script>
    $(function () {
        $("#getone").click(function () {
            $.ajax({
                url: "/api/Student",
                data: {id:"B"},
                success: function (response) {
                    alert(response.Id + "=" + response.Marks);
                }
            });
        });

        $("#getall").click(function () {
            $.ajax({
                url: "/api/Student",
                data: { },
                success: function (response) {
                    $(response).each(function (i, e) {
                        alert(e.Id + "=" + e.Marks);
                    });
                }
            });
        });

        $("#post").click(function () {
            $.ajax({
                url: "/api/Student",
                data: { Id: "X", Marks: 7, Password:"123" },
                type:"POST",
                success: function (response) {
                    $(response).each(function (i, e) {
                        alert(e.Id + "=" + e.Marks);
                    });
                }
            });
        });

        $("#put").click(function () {
            $.ajax({
                url: "/api/Student/B",
                data: { Id: "X", Marks: 10 },
                type: "PUT",
                success: function (response) {
                    $(response).each(function (i, e) {
                        alert(e.Id + "=" + e.Marks);
                    });
                }
            });
        });

        $("#delete").click(function () {
            $.ajax({
                url: "/api/Student/B",
                data: { },
                type: "DELETE",
                success: function (response) {
                    $(response).each(function (i, e) {
                        alert(e.Id + "=" + e.Marks);
                    });
                }
            });
        });
    });
</script>
}
