@model Product
@{
    ViewBag.Title = "Detail";
}

<h2>Product Detail</h2>
<div>
    <img class="col-md-5" src="/images/products/@Model.Image" />
    <ul class="col-md-7">
        <li>Id:@Model.Id</li>
        <li>Name:@Model.Name</li>
        <li>Available:@Model.Available</li>
        <li>Category:@Model.Category.NameVN</li>
        <li>Discount:@Model.Discount</li>
        <li>Latest:@Model.Latest</li>
        <li>ProductDate:@Model.ProductDate</li>
        <li>Quantity:@Model.Quantity</li>
        <li>Special:@Model.Special</li>
        <li>Supplier:@Model.Supplier.Name</li>
        <li>UnitBrief:@Model.UnitBrief</li>
        <li>UnitPrice:@Model.UnitPrice</li>
        <li>Views:@Model.Views</li>
    </ul>
    <div>Description:@Model.Description</div>
</div>

<div>
    <fieldset class="nn-relate">
        <legend>Hàng cùng loại</legend>
        @foreach (var p in Model.Category.Products)
        {
            <a href="/Product/Detail/@p.Id">
                <img src="/images/products/@p.Image" />
            </a>
        }
    </fieldset>
</div>
<div>
    <fieldset class="nn-relate">
        <legend>Hàng cùng hãng</legend>
        @foreach (var p in Model.Supplier.Products)
        {
            <a href="/Product/Detail/@p.Id">
                <img src="/images/products/@p.Image" />
            </a>
        }
    </fieldset>
</div>
<div>
    <fieldset class="nn-relate">
        <legend>Hàng đã xem</legend>
        @foreach (var p in ViewBag.Views)
        {
            <a href="/Product/Detail/@p.Id">
                <img src="/images/products/@p.Image" />
            </a>
        }
    </fieldset>
</div>

