
@{
    ViewBag.Title = "Tabs";
}

<h2>Tabs</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#home-tab" role="tab" data-toggle="tab">Home</a></li>
    <li><a href="#profile-tab" role="tab" data-toggle="tab">Profile</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home-tab">...</div>
    <div class="tab-pane" id="profile-tab">...</div>
</div>