<h2>Upload</h2>

<form action="/Uploader/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="photo" />
    <input type="submit" value="Upload" />
</form>

@section scripts{
    <script>
        $(function () {
            $("form:eq(0)").submit(function () {
                $.ajax({
                    url: '/Home/Upload',
                    data: new FormData(this),
                    contentType: false,
                    processData: false,
                    success: function (response) { }
                });
            });
        });
    </script>
}