
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Test/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="uplPhoto" />
    <input type="submit" value="Upload" />
</form>

@section scripts{
    <script>
        $(function () {
            $("form").submit(function () {
                $.ajax({
                    url: '/Test/Upload',
                    data: new FormData(this),
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert(response);
                    }
                });
                return false;
            });
        });
    </script>
}