
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<!-- PUSH CONTETN -->
<div class="workplace">
    <div class="page-header"><h1>Titles <small>title</small></h1></div>
    <!-- Main Content -->
    <div class="row">
    </div>
    <!-- End Main Content -->
</div>
<!-- END PUSH CONTETN -->