<div class="panel panel-default">
    <div class="list-group">
        <form action="/Product/List">
            <input id="search" name="Keywords" placeholder="Keywords" 
                   class="form-control" />
        </form>
    </div>
</div>