<li class="list_icon"><a href="#">&nbsp;</a></li>
<li class="settings_icon">
    <a href="#" class="link_themeSettings">&nbsp;</a>
    <div id="themeSettings" class="popup">
        <div class="head clearfix">
            <div class="arrow"></div>
            <span class="isw-settings"></span>
            <span class="name">Theme settings</span>
        </div>
        <div class="body settings">
            <div class="row">
                <div class="col-md-3"><strong>Style:</strong></div>
                <div class="col-md-9">
                    <a class="styleExample tip active" title="" data-style="" data-original-title="Default style">&nbsp;</a>
                    <a class="styleExample silver tip" title="" data-style="silver" data-original-title="Silver style">&nbsp;</a>
                    <a class="styleExample dark tip" title="" data-style="dark" data-original-title="Dark style">&nbsp;</a>
                    <a class="styleExample marble tip" title="" data-style="marble" data-original-title="Marble style">&nbsp;</a>
                    <a class="styleExample red tip" title="" data-style="red" data-original-title="Red style">&nbsp;</a>
                    <a class="styleExample green tip" title="" data-style="green" data-original-title="Green style">&nbsp;</a>
                    <a class="styleExample lime tip" title="" data-style="lime" data-original-title="Lime style">&nbsp;</a>
                    <a class="styleExample purple tip" title="" data-style="purple" data-original-title="Purple style">&nbsp;</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Background:</strong></div>
                <div class="col-md-9">
                    <a class="bgExample tip active" title="" data-style="" data-original-title="Default">&nbsp;</a>
                    <a class="bgExample bgCube tip" title="" data-style="cube" data-original-title="Cubes">&nbsp;</a>
                    <a class="bgExample bghLine tip" title="" data-style="hline" data-original-title="Horizontal line">&nbsp;</a>
                    <a class="bgExample bgvLine tip" title="" data-style="vline" data-original-title="Vertical line">&nbsp;</a>
                    <a class="bgExample bgDots tip" title="" data-style="dots" data-original-title="Dots">&nbsp;</a>
                    <a class="bgExample bgCrosshatch tip" title="" data-style="crosshatch" data-original-title="Crosshatch">&nbsp;</a>
                    <a class="bgExample bgbCrosshatch tip" title="" data-style="bcrosshatch" data-original-title="Big crosshatch">&nbsp;</a>
                    <a class="bgExample bgGrid tip" title="" data-style="grid" data-original-title="Grid">&nbsp;</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Fixed layout:</strong></div>
                <div class="col-md-9">
                    <div class="">
                        <span><input type="checkbox" name="settings_fixed" value="1"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Hide menu:</strong></div>
                <div class="col-md-9">
                    <div class="">
                        <span><input type="checkbox" name="settings_menu" value="1"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"><button class="btn btn-default link_themeSettings" type="button">Close</button></div>
    </div>
</li>
