
@{
    ViewBag.Title = "Purchase";
}

<h2>Purchase</h2>

@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/api/Bank/nn",
                data: { Id: "nghiem", Balance: 500 },
                type:"PUT",
                success: function () {
                    alert("Đã thanh toán thành công !");
                }
            });
        });
    </script>
}