@model IEnumerable<Category>
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="container">
    <!--Slide show-->
    <div id="mi-slider" class="mi-slider">
        @foreach (Supplier s in ViewBag.Suppliers)
        {
            var items = s.Products
                .OrderBy(p => Guid.NewGuid())
                .ToList().Take(4);
            <ul>
                @foreach (var p in items)
                {
                    <li>
                        <a href="/Product/Detail/@p.Id">
                            <img src="/images/products/@p.Image" title="@p.Name">
                        </a>
                    </li>
                }
            </ul>
        }
        <nav>
            @foreach (var s in ViewBag.Suppliers)
            {
                <a href="#">@s.Name</a>
            }
        </nav>
    </div>

    <!--3 loai hang-->
    <div class="nn-cate-3">
        @foreach(var c in Model){
        var items = c.Products
            .OrderBy(p=>Guid.NewGuid())
            .ToList().Take(5);
            <div class="col-md-3">
                <fieldset>
                    <legend>
                        <span class="glyphicon glyphicon-th-list"></span> 
                        <a href="/Product/List?CategoryId=@c.Id">@c.NameVN</a>
                    </legend>
                    <ul>
                        @foreach (var p in items) {
                        <li>
                            <a href="/Product/Detail/@p.Id">
                                <span class="glyphicon glyphicon-th-list"></span>
                                @p.Name
                            </a>
                        </li>
                        }
                    </ul>
                </fieldset>
            </div>
        }
    </div>
</div>
@section scripts{
    <link href="~/Slide/css/catslider.css" rel="stylesheet" />
    <script src="~/Slide/js/modernizr.custom.63321.js"></script>
    <script src="~/Slide/js/jquery.catslider.js"></script>
    <style>
        .mi-slider a {
            text-decoration: none;
            font-family: tahoma;
        }
        .mi-slider img{
            height:200px;
        }
    </style>
    <script>
        $(function () {
            $('#mi-slider').catslider();

            iii = 0;
            setInterval(function () {
                $("#mi-slider nav>a:eq(" + iii + ")").click();
                iii = (iii + 1) % 4;
            }, 5000);
        });
    </script>
}