
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<input id="search" />

@section scripts{
<link href="~/CartEffect/jquery-ui.css" rel="stylesheet" />
<script src="~/CartEffect/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#search").autocomplete({
                source: "/Home/Search",
                minLength: 2
            });
        })
    </script>
}