<h2>Upload</h2>

<form id="upload" action="/Uploader/Index" method="post" enctype="multipart/form-data">
    <input type="file" name="photo" />
    <input type="submit" value="Upload" />
</form>
<img id="photo" class="img-responsive" style="max-width: 300px" src="~/images/products/1001.jpg" />

@section scripts{
    <script>
        $(function () {
            $(":file").change(function () {
                $.ajax({
                    url: '/Uploader/Upload',
                    data: new FormData($("#upload").get(0)),
                    contentType: false,
                    processData: false,
                    type:"POST",
                    success: function (response) {
                        $("#photo").attr("src", "/photos/" + response);
                    }
                });
            });
        });
    </script>
}